
.example-relative {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid rgb(72, 79, 173);
}
.example-absolute {
    position: absolute;
    top: 80px;
    right: 5px;
    width: 200px;
    height: 100px;
    border: 3px solid rgb(218, 73, 16);
}
.example-overflow-scroll-y {
    width: 200px;
    height: 100px;
    background-color: #e7ee99;
    overflow-y: scroll;
}
img {
    width: 25%;
    border-radius: 10px;
    float: left;
    margin: 10px;
}
.opacity-2 {
    opacity: 0.2;
}
.opacity-5 {
    opacity: 0.5;
}
.opacity-10 {
    opacity: 1;
}
.parent-example-2 > p {
    background-color: yellow;
}