body{
    background-image: url("https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1151746652,1927473050&fm=26&gp=0.jpg");
    background-repeat: repeat-y;
    background-size:100% auto;
    text-align: center;
}